<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EducationClassMapper">
    
    <resultMap type="EducationClass" id="EducationClassResult">
        <result property="id"    column="id"    />
        <result property="className"    column="class_name"    />
        <result property="classType"    column="class_type"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="beginTimeReal"    column="begin_time_real"    />
        <result property="endTime"    column="end_time"    />
        <result property="endTimeReal"    column="end_time_real"    />
        <result property="headteacher"    column="headteacher"    />
        <result property="teacher"    column="teacher"    />
        <result property="classSize"    column="class_size"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEducationClassVo">
        select id, class_name, class_type, begin_time, begin_time_real, end_time, end_time_real, headteacher, teacher, class_size, state, create_by, create_time, update_by, update_time, remark from education_class
    </sql>

    <select id="selectEducationClassList" parameterType="EducationClass" resultMap="EducationClassResult">
        <include refid="selectEducationClassVo"/>
        <where>  
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="classType != null  and classType != ''"> and class_type = #{classType}</if>
            <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="params.beginBeginTimeReal != null and params.beginBeginTimeReal != '' and params.endBeginTimeReal != null and params.endBeginTimeReal != ''"> and begin_time_real between #{params.beginBeginTimeReal} and #{params.endBeginTimeReal}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="params.beginEndTimeReal != null and params.beginEndTimeReal != '' and params.endEndTimeReal != null and params.endEndTimeReal != ''"> and end_time_real between #{params.beginEndTimeReal} and #{params.endEndTimeReal}</if>
            <if test="headteacher != null  and headteacher != ''"> and headteacher like concat('%', #{headteacher}, '%')</if>
            <if test="teacher != null  and teacher != ''"> and teacher like concat('%', #{teacher}, '%')</if>
            <if test="classSize != null "> and class_size = #{classSize}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectEducationClassById" parameterType="Long" resultMap="EducationClassResult">
        <include refid="selectEducationClassVo"/>
        where id = #{id}
    </select>

    <insert id="insertEducationClass" parameterType="EducationClass">
        insert into education_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="classType != null and classType != ''">class_type,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="beginTimeReal != null">begin_time_real,</if>
            <if test="endTime != null">end_time,</if>
            <if test="endTimeReal != null">end_time_real,</if>
            <if test="headteacher != null">headteacher,</if>
            <if test="teacher != null">teacher,</if>
            <if test="classSize != null">class_size,</if>
            <if test="state != null">state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="classType != null and classType != ''">#{classType},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="beginTimeReal != null">#{beginTimeReal},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="endTimeReal != null">#{endTimeReal},</if>
            <if test="headteacher != null">#{headteacher},</if>
            <if test="teacher != null">#{teacher},</if>
            <if test="classSize != null">#{classSize},</if>
            <if test="state != null">#{state},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEducationClass" parameterType="EducationClass">
        update education_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="classType != null and classType != ''">class_type = #{classType},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="beginTimeReal != null">begin_time_real = #{beginTimeReal},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="endTimeReal != null">end_time_real = #{endTimeReal},</if>
            <if test="headteacher != null">headteacher = #{headteacher},</if>
            <if test="teacher != null">teacher = #{teacher},</if>
            <if test="classSize != null">class_size = #{classSize},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEducationClassById" parameterType="Long">
        delete from education_class where id = #{id}
    </delete>

    <delete id="deleteEducationClassByIds" parameterType="String">
        delete from education_class where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>